* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

header,
body {
  margin: 0;
  padding: 0;
}

.logo-and-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #1946a9;
  background-color: rgb(248, 254, 207);
}

header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nav-bar {
  align-items: center;
}

.nav-bar ul {
  list-style-type: none;
  background-color: hsl(180, 100%, 50%);
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  
  justify-content: center;
}

.nav-bar a {
  color: rgb(2, 2, 2);
  text-decoration: none;
  padding: 25px;
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
}

.nav-bar a:hover {
  background-color: hsl(180, 95%, 24%);
}

.nav-bar li {
  float: left;
  font-size: 25px;
  font-weight: 300;
}

.nav-bar .active {
  background-color: #516ae8;
}

.sec-01 {
  background-image: url(bg_image_home.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 75vh;
  position: relative;
  padding: 0px;

  text-shadow: 20px 20px 40px black;
  font-weight: bold;
}

.sec-01 > .text-box-01 {
  position: absolute;
  left: 10%;
  right: 10%;
  font-size: 40px;
  color: rgb(252, 249, 171);
  line-height: 50px;
  text-align: center;
}

.sec-01 > .text-box-02 {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  font-size: 25px;
  color: rgb(255, 255, 255);
  background-color: rgba(171, 180, 139, 0.75);
  padding: 1px 2px;
  line-height: 1.3;
  text-align: center;
}

.sec-01 > .buttons ul {
  position: absolute;
  top: 80%;
  left: 30%;
  list-style: none;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
}

.sec-01 > .buttons a {
  padding: 40px;
  font-size: 20px;
  color: rgb(234, 228, 228);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  margin: 40px;
  background-color: hsla(218, 100%, 48%, 0.627);
}

.sec-02 > .three-text-boxes {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin: 0 200px;
}

.sec-02 > .three-text-boxes > .text-box {
  width: 30%;
  background-color: #f1f1f1;
  padding: 0px;
  border: 1px solid #ddd;
  text-align: left;
}

.sec-02 > .three-text-boxes > .text-box img {
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}

.sec-02 > .three-text-boxes > .text-box h3 {
  margin-bottom: 5%;
}

.sec-02 h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #516ae8;
  font-size: 35px;
}

.sec-02 > .texts-box p {
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 50px;
  color: #050a05;
  font-size: 20px;
}

.sec-02 > .quick-link {
  text-align: center;
}

.sec-02 > .quick-link > .more-details-btn {
  margin-top: 50px;
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(212, 79%, 47%);
  color: #fff;
  font-size: 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sec-02 > .quick-link > .more-details-btn:hover {
  background-color: hsl(218, 100%, 85%);
}

.sec-03 > .three-text-boxes {
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin: 0 200px;
  justify-content: center;
}

.sec-03 > .three-text-boxes > .text-box {
  width: 20%;
  background-color: #f1f1f1;
  padding: 0px;
  border: 1px solid #ddd;
  text-align: center;
}

.sec-03 > .three-text-boxes > .text-box img {
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
}

.sec-03 > .three-text-boxes > .text-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sec-03 > .three-text-boxes > .text-box ul li {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}

.sec-03 h2 {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #516ae8;
  font-size: 35px;
}

.sec-03 > .texts-box p {
  text-align: center;
  margin-left: 400px;
  margin-right: 400px;
  margin-bottom: 50px;
  color: #050a05;
  font-size: 20px;
}

.sec-03 > .quick-link {
  text-align: center;
}

.sec-03 > .quick-link > .more-details-btn {
  margin-top: 50px;
  margin-bottom: 100px;
  display: inline-block;
  padding: 10px 20px;
  background-color: hsl(212, 79%, 47%);
  color: #fff;
  font-size: 20px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sec-03 > .quick-link > .more-details-btn:hover {
  background-color: hsl(218, 100%, 85%);
}

.upper-section {
  display: flex;
  justify-content: right;
}

.upper-section > .left-section {
  width: 40%;
  float: left;
  padding: 20px;
  margin-left: 40px;
}

.upper-section > .right-section {
  width: 40%;

  padding: 20px;
}

.upper-section ul {
  list-style-type: none;
  font-size: 20px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.upper-section ul li {
  line-height: 2;
}

.upper-section a {
  text-decoration: none;
  color: white;
}

.upper-section a:visited {
  color: yellow;
}

.lower-section > .left-section img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.lower-section > .left-section {
  display: flex;
  align-items: center;
  width: 25%;
  font-size: 20px;
  justify-content: right;
  float: left;
}

.lower-section .middle-section {
  display: flex;
  align-items: center;
  width: 35%;
  font-size: 15px;
  justify-content: center;
  float: left;
  text-align: center;
}

.lower-section .right-section {
  align-items: center;
  width: 30%;
  display: flex;
  justify-content: center;
}

.lower-section .right-section i {
  padding: 5px;
  margin-top: 25px;
}

footer {
  background-image: url(footer_bg.jpg
  );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 55vh;
  position: relative;
  padding: 0px;
  color: #ddd;
}

footer input[type="email"],
footer input[type="submit"] {
  width: initial;
  padding: initial;
  margin-top: initial;
  margin-bottom: initial;
  border: initial;
  border-radius: initial;
  box-sizing: initial;
}

footer form {
  max-width: initial;
  margin: initial;
  margin-top: initial;
  margin-bottom: initial;
  background-color: initial;
  padding: initial;
  border-radius: initial;
  box-shadow: initial;
}

.submit-button {
  background-color: rgb(73, 103, 223);
}

#yt {
  color: #f10909;
}

#ig {
  color: #f84952;
}

#fb {
  color: #74c0fc;
}
.floating-btn {
  position: fixed;
  top: 20px; 
  right: 20px; 
  background-color: #529ae8;
  color: #fff;
  padding: 15px 20px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.floating-btn:hover {
  background-color: #0056b3;
}

/* ---------------------------------Package Page----------------------------- */
.pac-top {
  text-align: center;
  margin: 0 200px 100px 200px;
  font-size: 20px;
}

#a1 {
  background: linear-gradient(to bottom, #ff9999, #ff6666);
}

#a2 {
  background: linear-gradient(to bottom, #99ccff, #6699ff);
}

#a3 {
  background: linear-gradient(to bottom, #99ff99, #66ff66);
}

#p1 {
  background: linear-gradient(to bottom, #ffcccc, #ff6666);
}

#p2 {
  background: linear-gradient(to bottom, #ff9999, #ff6666);
}

#p3 {
  background: linear-gradient(to bottom, #ccffcc, #66ff66);
}

#b1 {
  background: linear-gradient(to bottom, #ffcc99, #ff9933);
}

#b2 {
  background: linear-gradient(to bottom, #cc99ff, #9933ff);
}

#b3 {
  background: linear-gradient(to bottom, #99ff99, #33ff33);
}

.pac-Athens,
.pac-Prague,
.pac-Berlin {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
}

th,
td {
  font-weight: bold;
  padding: 20px;
}

caption {
  font-weight: bold;
  padding: 10px;
  caption-side: top;
  font-size: 30px;
}

caption details summary{
  font-size: 15px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

tr:hover {
  background-color: #c8bfbf;
}

th {
  background-color: #ecf7ea;
}

/* ------------------------------ Contact Page & form page ------------------------ */
.form-page {
  margin-left: 30px;
}

#form-topic {
  text-align: center;
}

.contact-main {
  margin-left: 50px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="reset"],
input[type="submit"] {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

form {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contactForm {
  max-width: 400px;
  margin: 0;
}

#error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-buttons {
  text-align: center;
}

#contactForm textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-main ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

#successMessage {
  display: none;
}

.reset-button {
  background-color: #f10909;
  margin-right: 10px;
}

/* ----------------------------Destination Page-------------------------- */
.des-hed {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 35px;
}

.des-top {
  text-align: center;
  margin: 0 200px 100px 200px;
  font-size: 20px;
}

.Athens,
.Prague,
.Berlin {
  display: flex;
  margin-bottom: 100px;
}

.Athens_slides video,
.Athens_slides figure img,
.Prague_slides video,
.Prague_slides img,
.Berlin_slides video,
.Berlin_slides img {
  width: 100%;
}

.Athens_slides figure figcaption,
.slide-buttons,
.img-and-video-caption {
  text-align: center;
}

.Left-section {
  width: 45%;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 50px;
}

.Right-section {
  width: 45%;
  font-size: 20px;
  margin-right: 100px;
  margin-left: 50px;
}

.container {
  display: flex;
  max-width: 700px;
  justify-content: center;
  margin: 0 auto;
}

.Athens_slides,
.Prague_slides,
.Berlin_slides {
  display: none;
}

.Athens_dot,
.Prague_dot,
.Berlin_dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.Athens_dot:hover,
.Prague_dot:hover,
.Berlin_dot:hover {
  background-color: #717171;
}

/* ----------------------Responsive Part--------------- */

/* For screens smaller than 600px (phones) */
@media only screen and (max-width: 600px) {
  .nav-bar ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar li {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .nav-bar a {
    padding: 15px 0;
    margin: 0;
  }

  .upper-section {
    flex-direction: column;

    align-items: center;

    text-align: center;
  }

  .upper-section > .left-section,
  .upper-section > .right-section {
    width: 100%;

    margin: 0;

    text-align: left;
  }

  .lower-section > .left-section,
  .lower-section .middle-section,
  .lower-section .right-section {
    width: 100%;

    margin-left: 10px;
    justify-content: left;
  }

  footer {
    height: 110vh;
  }

  .pac-top,
  .des-top {
    margin: 0 20px 50px 20px;
    font-size: 16px;
  }

  .Athens,
  .Prague,
  .Berlin {
    flex-direction: column;

    align-items: center;
  }

  .Left-section,
  .Right-section {
    width: 90%;

    margin: 20px auto;
    font-size: 16px;
  }

  .container {
    max-width: 100%;
  }

  .Athens_slides,
  .Prague_slides,
  .Berlin_slides {
    width: 100%;
  }

  .Athens_dot,
  .Prague_dot,
  .Berlin_dot {
    margin: 5px 3px;
  }

  .sec-01 {
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .sec-01 > .text-box-01,
  .sec-01 > .text-box-02 {
    position: static;
    width: 100%;
    left: auto;
    right: auto;
    margin: 0;
  }

  .sec-01 > .buttons ul {
    position: static;
    margin-top: 20px;
  }

  .sec-01 > .buttons a {
    padding: 20px;
    margin: 10px;
  }

  .sec-02 > .three-text-boxes {
    flex-direction: column;
    gap: 20px;
    margin: 0 20px;
  }

  .sec-02 > .three-text-boxes > .text-box {
    width: 100%;
    margin: 0;
  }

  .sec-02 > .three-text-boxes > .text-box img {
    height: auto;
    width: 100%;
  }

  .sec-02 h2 {
    font-size: 25px;
    margin: 20px 0;
  }

  .sec-02 > .texts-box p {
    margin: 0 20px 20px;
    font-size: 16px;
  }

  .sec-02 > .quick-link > .more-details-btn {
    margin-top: 20px;
    font-size: 16px;
  }

  .sec-03 > .three-text-boxes {
    flex-direction: column;
    gap: 20px;
    margin: 0 20px;
    justify-content: center;
  }

  .sec-03 > .three-text-boxes > .text-box {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
  }

  .sec-03 > .three-text-boxes > .text-box img {
    height: auto;
    max-width: 100%;
  }

  .sec-03 h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 25px;
  }

  .sec-03 > .texts-box p {
    margin: 0 20px;
    font-size: 14px;
  }

  .sec-03 > .quick-link > .more-details-btn {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .nav-bar ul {
    flex-direction: row;
  }

  .nav-bar li {
    width: auto;
    font-size: 20px;
  }

  .nav-bar a {
    padding: 15px;
    margin: 0 10px;
  }

  .pac-top,
  .des-top {
    margin: 0 50px 50px 50px;
    font-size: 18px;
  }

  .sec-01 {
    height: 60vh;
    padding: 40px;
    text-align: center;
  }

  .sec-01 > .text-box-01 {
    font-size: 32px;
    line-height: 40px;
  }

  .sec-01 > .text-box-02 {
    font-size: 20px;
    padding: 10px;
    line-height: 1.5;
  }

  .sec-01 > .buttons a {
    padding: 15px;
    margin: 10px;
  }

  .sec-02 > .three-text-boxes {
    flex-direction: row;
    gap: 50px;
    margin: 0 100px;
  }

  .sec-02 > .three-text-boxes > .text-box {
    width: 30%;
    margin: 0;
  }

  .sec-02 > .three-text-boxes > .text-box img {
    height: 250px;
    width: 100%;
  }

  .sec-02 h2 {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .sec-02 > .texts-box p {
    margin: 0 100px 30px;
    font-size: 18px;
  }

  .sec-02 > .quick-link > .more-details-btn {
    margin-top: 30px;
    font-size: 18px;
  }

  .sec-03 > .three-text-boxes {
    flex-direction: row;
    gap: 50px;
    margin: 0 50px;
    justify-content: center;
  }

  .sec-03 > .three-text-boxes > .text-box {
    width: 30%;
    padding: 20px;
  }

  .sec-03 > .three-text-boxes > .text-box img {
    height: 250px;
    max-width: 100%;
  }

  .sec-03 h2 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 30px;
  }

  .sec-03 > .texts-box p {
    margin: 0 100px;
    font-size: 18px;
  }

  .sec-03 > .quick-link > .more-details-btn {
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 18px;
  }
}
 /* --------------------------------For Visually Imapaired------------------------------- */

.visually-impaired {
  font-size: 20px; 
  color: #000; 
  background-color: #fff; 
}

.visually-impaired h1 {
  color: #ff4500; 
}

.visually-impaired button {
  background-color: #ff4500;
}
